.premium-benefits {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  background-color: #1D1D1B;
  color: white;
  padding: 3rem 2rem;
}

.premium-benefits h2 {
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  flex: 1;
}

.premium-benefits ul {
  flex: 1;
  list-style: none;
  padding: 0;
  margin: 0;
}

.premium-benefits li {
  margin-bottom: 0.75rem;
  display: flex;
  align-items: center;
}

.check-icon {
  color: #1ed760; /* verde Spotify */
  margin-right: 0.5rem;
}
