* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1D1D1B;
  color: #fff;
  line-height: 1.6;

}

:root {
  --spotify-green: #1ed760;
  --spotify-black: #000;
  --spotify-white: #fff;
  --spotify-gray: #919496;
}

.header {
  background: var(--spotify-black);
  padding: 20px 50px;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

